.categories
    padding: 170px 0
.list
    margin-bottom: 30px
.h2_categories
    &::after
        content: ""
        display: block
        margin: 0 auto
        height: 2px
        width: 300px
        background: #000
.card
    margin-bottom: 75px
    border: 1px #b9b1b1 solid
.card_h2_title
    font-size: 28px
.card_h4_description
    font-size: 18px
.categories_img
    width: 100%
.card_action
    background: rgb(29,118,101)
.btn_categories
    color: #fff
    font-size: 24px
    font-weight: 900
    padding: 0px 55px 0px 55px
    &:hover
        color: #fff
