.slider
    margin-top: 20px
    .a_slider
        background: rgba(29,118,101,.8)
        border-radius: 8px
        box-shadow: 10px -5px 5px #000
        color: #fff
        cursor: pointer
        font-size: 20px
        font-weight: 900
        padding: 15px 35px
        text-decoration: none
.slide_all
    margin-bottom: 30px
.slider_product
    padding: 20px
.mySwiperImg
    width: 600px
    height: 300px
    margin-bottom: 30px
.slide_product_a
    background: red
    padding: 15px 25px
    border-radius: 10px
.slide_product_a_span
    color: #fff
    font-size: 20px
.slide_product_title
    margin-top: 40px
.SliderProduct
    margin-top: 40px
    display: flex
    justify-content: space-around
    z-index: 100
    position: relative
.slide_product_box_a
    margin-bottom: 40px
.slider_box
    display: flex
    flex-direction: column
    justify-content: center
.swiper-wrapper
    display: flex
    justify-content: space-around
.slider_box
    display: flex
    flex-direction: column
    align-items: center
