.success
    padding: 300px 0px 0px 0px
    margin: 0 auto
.success_h3
    font-size: 24px
.success_span
    background: $green_background
    color: $white_text
    padding: 50px
    border-radius: 20px
    font-size: 30px
.success_info
    margin-top: 100px
    margin-bottom: 97px            